@model IEnumerable<EFCoreExemplo.Models.Avaliacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoPontualidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoConteudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoInstrutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dificuldade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sugestao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instrutor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoPontualidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoConteudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoInstrutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dificuldade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sugestao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
